<!DOCTYPE html>
@{
	String currentBuild = "1234";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A2v10</title>
	<link href="/css/font-awesome.min.css?v=4.7.0" rel="stylesheet" />
	<link href="/css/site.min.css" rel="stylesheet"/>
</head>
<body>
	<div id="app">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<i class="fa fa-user"></i>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>
					@Html.Partial("_LoginPartial")
				</div>
			</div>
		</div>
		<div class="container body-content">
			@RenderBody()
			<hr />
		</div>
		<footer class="footer">
			<p>&copy; @DateTime.Now.Year  @A2v10.Web.Mvc.Configuration.AppInfo.MainAssembly.Version</p>
		</footer>
	</div>
	<script type="text/javascript" src="/Scripts/vue.min.js?v=2.3.4"></script>
	<script type="text/javascript" src="@Html.Raw("/Scripts/main.js?v=" + currentBuild)"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
