@using A2v10.Web.Mvc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="grid" style="grid-template-columns:auto 1fr;width:400px">
                <label style="grid-row:1; grid-column:1" class="required">Логин</label>
                <div class="control-group" style="grid-row:1;grid-column:2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                <label style="grid-row:2; grid-column:1" class="required">Пароль</label>
                <div class="control-group" style="grid-row:2;grid-column:2">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "control"})
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <label class="checkbox" style="grid-row:3;grid-column:2">
                    <input type="checkbox" name="RememberMe" value="true"/>
                    <span>Запомнить учетные данные</span>
                </label>
                <input name="RememberMe" type="hidden" value="false"/>
                <div style="grid-row:4;grid-column:2">
                    <button type="submit" class="btn btn-default">Вход в систему</button>
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    </div>
</div>
